#stocksMarquee {

    font-size: 20px;
    border: 2px solid #D7D5D8;
    border-radius: 7px;
    padding: 5px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;

}

#AdminControls {
    display: inline-block;
    width: 100%;
}
#init_Companies {
    display: inline-block;
    width: auto;
}
#update_Stocks{
    display: inline-block;
    width: auto;
}
#update_frontEnd{
    display: inline-block;
    width: auto;
}
.stkDifferenceGreen {
    padding-right: 10px;
}
.stkDifferenceRed {
    padding-right: 10px;
}
.stkSymbol {
    padding-left: 5px;
}
.stocksTable {

    padding-left: 115px;
    padding-top: 35px;

}
.stkTable {

    width: 1100px;

}
.stkTable tr {

    line-height: 22px;

}
.stkTableHead {

    padding-right: 20px;
    padding-bottom: 10px;
    background: #4396C2;
    color: #fff;
    padding-top: 10px;
    padding-left: 20px;

}
.IndvStk.stkGain {

    background: #FF3333;
    color: #fff;
	text-align: center;

}
.IndvStk.stkLoss {

    background: #009900;
    color: #fff;
    text-align: center;
	opacity:0.8;


}

